<!DOCTYPE html>
<html>

<head>
    <title>Ify's Kitchen</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<header>

    <h1>🍽 Ify's Kitchen</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/menu">Menu</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/recommend">Chef AI</a>
    </nav>

</header>

<section class="hero">

<div>

<h2>Freshm And Nice Food Every Day</h2>

<p>Experience delicious meals prepared by expert chefs.</p>

<a class="btn" href="/menu">View Menu</a>

</div>

</section>
 
    <section class="container">

<h2 class="section-title" style="text-align:center;">
Popular Dishes
</h2>

<div class="cards">

<div class="card">

<img src="/static/images/pizza.jpg">

<div class="card-content">

<h3>Spaghetti & Beans</h3>

<p>
Fresh mozzarella, tomatoes and basil.
</p>

<p class="price">N1500</p>

<a class="order-btn" href="/order">
Order Now
</a>

</div>

</div>

<div class="card">

<img src="/static/images/burger.jpg">

<div class="card-content">

<h3>Rice &  Beans</h3>

<p>
Place of beans and rice with meat.
</p>

<p class="price">N1500</p>

<a class="order-btn" href="/order">
Order Now
</a>

</div>

</div>

<div class="card">

<img src="/static/images/chicken.jpg">

<div class="card-content">

<h3>Beans</h3>

<p>
Served with vegetables and fries.
</p>

<p class="price">N1500</p>

<a class="order-btn" href="/order">
Order Now
</a>

</div>

</div>

</div>

</section>

<section class="testimonials">

<h2 class="section-title">
What Our Customers Say
</h2>

<div class="review">

⭐⭐⭐⭐⭐

<p>
"The Beans is Amazing.
never eten any like that in years!"
</p>

<b>- Sarah</b>

</div>

<div class="review">

⭐⭐⭐⭐⭐

<p>
"The best Spaghetti and Beans I've ever eaten.
Amazing atmosphere!"
</p>

<b>- Zion</b>

</div>

<div class="review">

⭐⭐⭐⭐⭐

<p>
"Friendly staff and delicious meals.
Highly recommended."
</p>

<b>- Monday</b>

</div>

<div class="review">

⭐⭐⭐⭐⭐

<p>
"The chicken was fantastic.
I'll definitely come back!"
</p>

<b>- Blessing</b>

</div>

</section>

<section class="container">

<h2 class="section-title" style="text-align:center;">
Visit Us
</h2>

<p style="text-align:center;">
📍 Opposite Leef Centre, Otukpo, Benue State, Nigeria
</p>

<br>

<p style="text-align:center;">
🕒 Monday - Saturday
</p>

<p style="text-align:center;">
9:00 AM - 10:00 PM
</p>

<p style="text-align:center;">
☎ +234 901 564 2333
</p>

</section>

<footer>

© 2026 Ify's Kitchen

</footer>

</body>

</html>