<!DOCTYPE html>
<html>

<head>
    <title>Reservation</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<header>

<h1>🍽 Tasty Restaurant</h1>

<nav>
<a href="/">Home</a>
<a href="/menu">Menu</a>
<a href="/reservation">Reservation</a>
<a href="/contact">Contact</a>
</nav>

</header>

<section class="container">

<h2>Reserve a Table</h2>

<form>

<p>Name</p>
<input type="text" placeholder="Your Name">

<p>Email</p>
<input type="email" placeholder="Your Email">

<p>Guests</p>
<input type="number">

<p>Date</p>
<input type="date">

<p>Time</p>
<input type="time">

<br><br>

<button class="btn">
Reserve
</button>

</form>

</section>

</body>

</html>